<article>
  <div class="progress-container">
    <div id="progress"></div>
    <span class="progress-item active">1</span>
    <span class="progress-item">2</span>
    <span class="progress-item">3</span>
    <span class="progress-item">4</span>
  </div>
  <div class="buttons-container">
    <button id="back">Back</button>
    <button id="next">Next</button>
  </div>
  <script>
    const progress = document.getElementById("progress");
    const prev = document.getElementById("back");
    const next = document.getElementById("next");
    const circles = document.querySelectorAll(".progress-item");
    let currentActive = 1;
    checkButton();

    next.addEventListener("click", () => {
      currentActive++;
      updateCircle();
      updateProgressBar();
      checkButton();
    });

    prev.addEventListener("click", () => {
      currentActive--;
      updateCircle();
      updateProgressBar();
      checkButton();
    });

    function updateCircle() {
      for (let i = 0; i < circles.length; i++) {
        const element = circles[i];
        if (i < currentActive) {
          element.classList.add("active");
        } else {
          element.classList.remove("active");
        }
      }
    }
    function updateProgressBar() {
      switch (currentActive) {
        case 1:
          progress.style.width = "0%";
          break;
        case 2:
          progress.style.width = "30%";
          break;
        case 3:
          progress.style.width = "60%";
          break;
        case 4:
          progress.style.width = "90%";
          break;
        default:
          break;
      }
    }
    function checkButton() {
      cleanButtons();

      if (currentActive === 1) {
        prev.setAttribute("disabled", "true");
        prev.style.cursor = "not-allowed";
        prev.classList.add("disabled-button");
      } else if (currentActive === 4) {
        next.setAttribute("disabled", "true");
        next.style.cursor = "not-allowed";
        next.classList.add("disabled-button");
      }
    }
    function cleanButtons() {
      prev.removeAttribute("disabled");
      prev.style.cursor = "pointer";
      prev.classList.remove("disabled-button");

      next.removeAttribute("disabled");
      next.style.cursor = "pointer";
      next.classList.remove("disabled-button");
    }
  </script>
</article>

<style>
  article {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .progress-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    position: relative;
  }

  .progress-container::before {
    content: "";
    width: 100%;
    position: absolute;
    height: 10px;
    background-color: #bbbbbba8;
    top: 25px;
    left: 0;
    z-index: -1;
    transform: translateY(-50%);
  }

  .progress-item {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #bbbbbb;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }

  .progress-item.active {
    background-color: #af2ad8;
    transition-delay: 0.5s;
  }

  #progress {
    width: 0%;
    height: 10px;
    background-color: #af2ad8;
    position: absolute;
    top: 25px;
    left: 0;
    z-index: -1;
    transform: translateY(-50%);
    transition: all 1s ease-in-out;
  }

  .buttons-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
    height: auto;
  }

  .buttons-container button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #af2ad8;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
  .disabled-button {
    background-color: #bbbbbba8 !important;
  }
</style>
