---
const {title} =Astro.props
---


<body>
  <h1>{title? title:"50 PROJECTS 50 DAYS"}</h1>
  <slot />
</body>


<style>
  @import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&family=Lilita+One&family=Ubuntu:wght@700&display=swap");
  html{
      display: flex;
      justify-content: center;
  }
  body {
    background-color: #3f304e;
    font-family: "Lilita One", sans-serif;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  h1 {
    color: #fff;
    text-align: center;
    margin: 1.5rem 0 0 0;
  }
</style>